<h1>About</h1>
<p>Hello there!</p>
<p>We rent all kinds of bikes for the Berlin-Pankow area. Unicycles, tandems, mountain bikes, city bikes, you name it. We have rented bikes to artists like Udo Lindenberg, George Clooney and even Bono (who did not suffer an accident with us :-)!)</p>

