// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Product Index

#prindexcontainer{
	margin: 0 auto;
}

.prodrow{
	margin: 0 auto;
}

.prodcol{
	border: 2px solid black;
	margin-bottom: 20px;
	position: relative;
	height: 500px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.submitbutton{
	margin-top: 25px;
	margin-bottom: 100px;
	text-align: center;
}

.proddescript{
	word-break: break-word;
}

.colbuttons{
	padding: 20px;
}

//Product show

#showprodcontainer{
	margin: 0 auto;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	.prodcol{
		margin: 0 auto;
		height: 650px;
	}
}