// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//General Layout

* {
	margin: 0;
}

html, body {
	height: 100%;
} 

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
 	height: 50px;
 	background: #99ccff;
 }

 img{
 	margin: 0 auto;
 }

.foottext{
  	padding-top: 17.5px;
  	padding-left: 20px;
 }

.searchbar{
	padding-top: 7.5px;
	padding-left: 50px;
}

.sessionalert{
	text-align: center;
	color: blue;
} 

//Landing

#landingcontainer{
	margin: 0 auto;
}

.carousel-inner .item img{
	width: 100%;
	height: 500px;
}

//Index

#containerindex{
 	text-align: center;
 }

.tandem{
 	margin: 0 auto;
 }

//Contact

#containercontact{
	margin: 0 auto;
 	text-align: center;
}

.contactform{
	margin: 0 auto;
	float: none;
}

//About

#containerabout{
	text-align: center;
}

//New - Edit

#containernew{
	margin: 0 auto;
}

.productform .form-control{
	width: 25%;
}

//Session

.loginform{
	margin: 0 auto;
	float: none;
	width: 250px;
}
.checkbox{
	margin-left: 10px;
}

.checkbox label{
	padding-top: 2px;
    padding-left: 0; 
}


